################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Aircraft Battle/.vs/Aircraft Battle/v16
/AircraftBattle/.vs/AircraftBattle/v16
/MFCApplication1/.vs/MFCApplication1/v16
/MFCApplication1
/MFCApplication4/.vs/MFCApplication4/v16
